<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cnSucursal" connectionString="Data Source=DESKTOP-OKOCC7I;Initial Catalog=SERVIDOR95;User ID=sa;Password=123; Encrypt=False; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="cnSucursal_Caja" connectionString="Data Source=DESKTOP-OKOCC7I;Initial Catalog=SERVIDOR95_CAJA;User ID=sa;Password=123; Encrypt=False; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>