<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cnSucursal" connectionString="Data Source=192.168.1.195;Initial Catalog=chapultepec;User ID=servicios;Password=Pa$$w0rd; Encrypt=False; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="cnSucursal_Caja" connectionString="Data Source=DESKTOP-OKOCC7I;Initial Catalog=chapultepec_CAJA;User ID=servicios;Password=Pa$$w0rd; Encrypt=False; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>